body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f3ee;
}

h1 {
    color: #b96d8b;
    font-size: 38px;
}

.botao {
    background-color: #25D366;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
    margin-top: auto;
}

img {
    border-radius: 10px;
}

.produto {
    background: white;
    width: 220px;
    padding: 20px;
    margin: 0;
    vertical-align: top;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
}
.produto:hover {
    transform: scale(1.03);
}
.produto p {
    font-size: 23px;
    line-height: 1.5;
    color: #333;
}
.produto img {
    width: 260px;
    height: auto;
    max-height: 240px;
    object-fit: contain;
}

h2 {
    color: #333;
    font-size: 26px;
    line-height: 1.2;
}

.produto p {
    text-align: center;
}
strong {
    font-size: 20px;
    color: #b96d8b;
}
body {
    max-width: 1800px;
    margin: 0 auto;
}

footer {
    margin-top: 40px;
    padding: 20px;
    background: #d63384;
    color: white;
    text-align: center;
}
body > p:last-of-type {
    font-size: 18px;
    line-height: 1.6;
    max-width: 900px;
    margin: 20px auto;
}
hr {
    margin-top: 30px;
}

h2 {
    margin-top: 20px;
}
nav {
    margin: 20px 0;
    font-size: 24px;
}

nav a {
    text-decoration: none;
    color: #d63384;
    font-weight: bold;
    margin: 0 10px;
    font-size: 20px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    gap: 30px;
    justify-content: start;

    width: calc(100% - 380px);
    margin-left: 30px;
    margin-right: 380px;
}
#quem-somos + p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 900px;
    margin: 0 auto;
}
#quem-somos {
    margin-top: 50px;
}
body > p:first-of-type {
    font-size: 20px;
}
.produto:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
#foto-principal {
    width: 280px;
    border-radius: 10px;
}

.miniatura {
    width: 90px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.miniatura:hover {
    transform: scale(1.1);
}
.logo {
    width: 220px;
    height: auto;
    display: block;
    margin: 20px auto;
}
.botao {
    margin-top: auto;
    margin-bottom: 5px;
}
.botao-detalhes{
    display:block;
    margin:8px 10px 10px;
    padding:10px;
    background:#d46a8c;
    color:white;
    text-decoration:none;
    text-align:center;
    border-radius:6px;
    font-weight:bold;
    transition:0.2s;
}

.botao-detalhes:hover{
    background:#b84f71;
}
.miniatura {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: 5px;
    border: 3px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
}

.miniatura:hover{
    transform: scale(1.08);
}

.miniatura.ativa{
    border-color:#d46a93;
}
.foto-grande{
    width:450px;
    max-width:90%;
    border-radius:15px;
    box-shadow:0 6px 18px rgba(0,0,0,.20);
}
.galeria-miniaturas{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:8px;
    margin:20px 0;
}
.foto-grande{
    cursor: zoom-in;
}

#zoom-overlay{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.85);
    justify-content:center;
    align-items:center;
    z-index:9999;
}

#zoom-overlay img{
    max-width:90%;
    max-height:90%;
    border-radius:15px;
    box-shadow:0 0 30px rgba(0,0,0,.5);
}
.categoria{
    background:#ffffff;
    border:2px solid #d46a93;
    color:#d46a93;
    padding:10px 18px;
    margin:5px;
    border-radius:25px;
    cursor:pointer;
    font-size:15px;
    font-weight:bold;
    transition:.25s;
}

.categoria:hover{
    background:#d46a93;
    color:white;
    transform:translateY(-2px);
}

.categoria.ativa{
    background:#d46a93;
    color:white;
}
.painel-carrinho{
    position: fixed;
    top: 90px;
    right: 20px;
    width: 330px;
    height:85vh;
    background:white;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,.25);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    z-index: 9999;
    flex-direction:column;
overflow: hidden;
}

#itens-carrinho{
    height:calc(80vh - 180px);
    overflow-y:auto;
    overflow-x:hidden;
    padding-right:6px;
}
}

#itens-carrinho p{
    text-align:left;
    margin:8px 0;
    padding:8px;
    border-bottom:1px solid #ddd;
}

#painel-carrinho h2{
    margin-top:0;
}

#painel-carrinho button{
    width:100%;
    background:#d46a93;
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    cursor:pointer;
}

#painel-carrinho button:hover{
    background:#b84f71;
}


.item-carrinho{
    border-bottom:1px solid #eee;
    padding:12px 0;
}

.item-carrinho h4{
    margin:0;
    color:#b96d8b;
}

.controles{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:12px;
    margin:10px 0;
}
.controles button{

    width:32px;
    height:32px;

    border:none;
    border-radius:50%;

    background:#d46a93;
    color:white;

    font-size:20px;
    font-weight:bold;

    cursor:pointer;

    transition:.2s;

}
.controles button:hover{
    background:#b84f71;
    transform:scale(1.1);
}

.controles span{
    font-size:18px;
    font-weight:bold;
    min-width:20px;
    text-align:center;
}

.total-carrinho{
    text-align:right;
    margin-top:15px;
    font-size:20px;
    font-weight:bold;
}

.botao-finalizar{

    display:block;
    width:100%;
    box-sizing:border-box;

    margin-top:15px;
    padding:12px;

    background:#25D366;
    color:white;

    text-align:center;
    text-decoration:none;

    border-radius:8px;
    font-weight:bold;

}

.botao-finalizar:hover{

    background:#1faa56;
    transform:scale(1.02);
}
.foto-carrinho{

    width:90px;
    height:90px;

    object-fit:cover;

    border-radius:10px;

    display:block;

    margin:0 auto 10px;

    border:2px solid #eee;

}
.rodape-carrinho{
    position:sticky;
    bottom:0;

    background:white;

    border-top:1px solid #ddd;

    padding:10px 0;

    z-index:20;

    flex-shrink:0;
}
.frete{

    margin:12px 0;

    padding:12px 0;

    border-top:1px solid #ddd;

    border-bottom:1px solid #ddd;

}

.frete h3{

    margin:0 0 10px;

    color:#b96d8b;

    font-size:18px;

}

#cep{

    width:100%;

    box-sizing:border-box;

    padding:10px;

    border:2px solid #d46a93;

    border-radius:8px;

    font-size:16px;

    margin-bottom:10px;

}

.frete button{

    width:100%;

    padding:12px;

    background:#d46a93;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-weight:bold;

}

.frete button:hover{

    background:#b84f71;

}

#resultado-frete{

    margin-top:12px;

    font-size:15px;

    font-weight:bold;

    text-align:center;

}